html {
    height: 100%;
}

body{
    display: flex;
    height:100%;
    margin: 0
}

header{
    display:grid;
    grid-template-rows:2fr 1fr;
}

h1 {
    display:flex;
    justify-content: center;
}

aside{
    flex-grow:1;
    background-color: #FAF4EC;
}

aside>h2 {
    display:flex;
    justify-content: center;
}

.main_container {
    flex-grow:4;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    display:flex;
    justify-content: end;
    gap: 1em;
    padding-right: 1.75em;
}

.navbar > a {
    text-decoration:none;
}

button {
    background-color: black;
    color:white;
    border-style:none;
    padding:.75rem;
    border-radius: .5rem;

}

.top_buttons {
    display: flex;
    justify-content: space-between;
    padding: .75em 1em
}

#note {
    width: 95%;
    height: 10rem;
    border-color: cornflowerblue;
    border-width: .2em;
    background-color: #FAF4EC;
    border-radius: .5em;
    padding: 1em 1em 0em 1em;
    margin: 1em

}

.bottom_buttons {
    display: flex;
    justify-content: end;
    gap: 1em;
    padding: 0em 1em;
}

footer {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

h3 {
    display:flex;
    grid-column:1/-1;
    justify-content:center
}

.linkedin{
    display:flex;
    justify-content: end;
}

img {
    height: 3rem;
    width: 3rem;
}




